*{
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body{
    background-image: url("background 5.png");
    background-repeat: no-repeat;
    font-family: 'Source Sans Pro',sans-serif;
    overflow-x: hidden ;
    margin: 0px ;
    padding: 0px
}
.nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    padding: 0px 25px 0px 40px;
    top: 0;
    left: 0;
    height:70px;
    width: 100%;
    background-color: rgb(248, 250, 249);
    box-shadow: 5px 10px 30px rgba(0,0,0,0.1);
    z-index: 1;
}
.logo{
    margin-left: -20px;
}
.logo img{
    height: 55px;
}
.nav .links a{
    margin-right:25px;
    font-size: 16px;
    font-weight: 600;
    color: rgb(8, 7, 7);
    text-decoration: none;
}
.nav .links a:hover{
    background-color: #23cd31;
    color: white;
    padding: 10px 5px 10px 5px;
    border-radius: 5px;
    box-shadow: 5px 10px 30px rgba(24,139,119,0.2);
    transition: all ease 0.2s;
}

.info{
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-items: center;
    padding: 0 5vw 0 9vw;
    height: 100vh;
}
.homeImage img{
    height:420px;
}
.infoText h1{
    font-size: 4.6vw;
    margin-right: 6px;
    color: #04b80d;
}
.display{
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    align-items: center;

}
.display h2{
    font-size: 2.8vw;
    margin: 17px 0px 0px 0px ;
}

.infoText h3{
    margin: 6px ;
    font-size: 20px;
   color: rgb(145, 141, 141);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    line-height: 30px;
}

.infoText .btn{
    width: 170px;
    margin-top: 30px;
    padding: 14px 20px 14px 20px;
    background-image: linear-gradient(to right ,#2d8bfd,rgb(25, 45, 245));
    border-radius: 45px;
    text-align: center
}
.btn a{
    text-decoration: none;
    color: aliceblue;
    font-size: 20px;
    font-weight: bold;

}
.data{
    height: 600px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
.box{
    display: flex;
    text-align:center;
    justify-content: space-between;
   
}
.box .content{
background:rgb(27, 243, 63);
margin: 15px;
text-align:center;
border-radius: 5px;
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
margin-bottom: 50px;
width: 300px;
}
.content p{
    margin: 2px 7px 12px 7px;
}
.box img{
    height: 200px;
    margin-top:10px;
    clip-path: circle();
  
}
.wrapper2{
    display: flex;
    text-align:center;
    justify-content: space-between;
    margin : 0px 210px 0px 210px;
    height:600px;
}
.heading h1{
    font-weight: bold;
    text-align: center;
    margin-bottom: 50px;
    font-size: 32px;
}
.box-container{
    display: flex;
    background-color: rgb(252, 197, 79);
    box-shadow: 5px 10px 30px rgba(0,0,0,0.1);
    border-radius: 5px;
    z-index: 1;
    justify-content: space-around;
    width:400px;
    margin-bottom: 40px;
    padding:10px ;
}
.box-container p{
    margin-top: 30px;
    font-weight: bold;
}
.box-container img{
    height: 120px;
    width: 150px;
    clip-path: circle();
}
.wrapper3{
    height:600px;
}
.wrapper3 h1{
   font-weight: bold;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 50px;
    font-size: 32px;
}
.symptoms-container{
    display: flex;
    flex-direction: row;
    padding:0px 0px 0px 250px;
}
.symptoms{ 
    text-align: center;
    margin: 15px;
    width:250px;
    background-color: rgb(120, 221, 252);
    box-shadow: 5px 10px 30px rgba(0,0,0,0.02);
    border-radius: 5px;
  
}
.symptoms img{
    height:130px;
    width: 130px;
    margin-top: 5px;;
}

.end-box{
    background-color: rgb(39, 245, 49);
}
.end-box h5{
    text-align: center;
    font-size: 15px;
    padding: 20px 0px 20px 0px;
    border-top: 0.5px solid rgba(0,0,0,0.2);
}
.end{
    height:210px;
    display: flex;
    justify-content: space-around;
}
.end-container{
   width:150px;
}
.end-container h3{
    color:black;

}
.end-container p{
    color: black;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.end-container a{
    text-decoration: none;
    display: flex;
    flex-direction: column;
    color:black;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-bottom: 15px;
}
